.ToDo {
  width: 50%;
  margin: 0 auto;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

li {
  display: block;
  width: 5000px;
}

.todo-container {
  width: 100%;
  font-family: Caveat, sans-serif;
  font-size: 30px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10%;
  text-align: left;
}

.line-small {
  box-shadow: 0 0 2px 0.5px rgba(37, 115, 193, 0.5);
}

.checkbox {
  text-align: left;
  margin-left: 10%;
}
.correct-todo {
  width: 80%;
  font-family: Caveat, sans-serif;
  font-size: 25px;
}

.Selected {
  text-decoration: line-through;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 80% auto auto;
}

@media only screen and (max-width: 500px) {
  .todo-container {
    font-size: 15px;
  }

  .correct-todo {
    font-size: 18px;
  }
}
