.ToDo {
  width: 50%;
  margin: 0 auto;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

li {
  display: block;
  width: 5000px;
}

label {
  font-family: Caveat, sans-serif;
  font-size: 30px;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.line-small {
  box-shadow: 0 0 2px 0.5px rgba(37, 115, 193, 0.5);
}

.Selected {
  text-decoration: line-through;
}
