.CreateComponent {
  width: 50%;
  margin: 0 auto;
  height: 150px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input,
.button {
  min-height: 50px;
  padding: 0px;
  margin: 0;
  border-width: 0;
  border-radius: 3px;
}

.input {
  padding-left: 15px;
  width: 250px;
  min-width: 184px;
  font-family: Caveat, sans-serif;
  font-size: 25px;
}

.button {
  background-color: #ed99a4;
  box-shadow: 0 0 10px #e9b6bd inset;
  color: white;
  margin-left: 20px;
  width: 60px;
  min-width: 40px;
}

.button:hover {
  background-color: #d97d89;
  box-shadow: 0 0 10px #d8939e inset;
}
