.CreateComponent {
  width: 80%;
  margin: 0 auto;
  padding: 0 15px;
  height: 150px;
  max-width: 700px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.input,
.button {
  min-height: 50px;
  padding: 0px;
  margin: 0;
  border-width: 0;
  border-radius: 3px;
}

.input {
  text-align: center;
  padding-left: 15px;
  width: 250px;
  min-width: 184px;
  font-family: Caveat, sans-serif;
  font-size: 25px;
}

.button {
  background-color: #ed99a4;
  box-shadow: 0 0 10px #e9b6bd inset;
  color: white;
  margin: 10px;
  width: 60px;
  min-width: 40px;
}

.button:hover {
  background-color: #d97d89;
  box-shadow: 0 0 10px #d8939e inset;
}

@media only screen and (max-width: 500px) {
  .CreateComponent {
    flex-direction: column;
    padding: 0;
  }

  .button {
    min-height: 40px;
    width: 100%;
    margin: 5px 0;
    padding: 0 15px;
  }

  .input {
    min-height: 40px;
    width: 100%;
    margin: 5px 0;
    font-size: 16px;
    box-sizing: border-box;
  }
}
