.Background {
  background-image: url("/public/planning.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}
